* {
  box-sizing: border-box;
}

body {
  background-image: url(../imgs/sfondo.png);
  font-family: "Poppins", sans-serif;
}
header {
  background-image: linear-gradient(#27a3ae, #1c716f);
  width: 90%;
  margin-inline: auto;
  margin-top: 30px;
  text-align: center;
  height: 20rem;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

nav {
  margin-top: 30px;
}
a {
  display: block;
}

.link {
  color: white;
  text-decoration: none;
}

.logo {
  width: 280px;
  margin-bottom: 40px;
  margin-top: 30px;
}

article {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  width: 90%;
  margin-inline: auto;
  padding-left: 4%;
  padding-right: 4%;
}

h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 30px;
}
